.margin_12 {
    margin: 16px;
}

.title {
    font-size: 4em;
    padding: 16px;
}

.lefter {
    margin-bottom: 32px;
    margin-top: 32px;
}

.App {
    /* text-align: center; */
}

.post_title {
    text-align: left;
    font-size: x-large;
}

@media (prefers-reduced-motion: no-preference) {
    .rotate {
        animation: App-logo-spin infinite 4s linear;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}