.margin_12 {
    margin: 16px;
}

.title {
    font-size: 3em;
    padding: 16px;
    background-color:aliceblue;
}

.lefter {
    margin-bottom: 32px;
    margin-top: 32px;
}

.center {
    text-align: center;
    display: flex;
    align-items: center;
}

.post_title {
    text-align: left;
    font-size: x-large;
}

@media (prefers-reduced-motion: no-preference) {
    .rotate {
        animation: App-logo-spin infinite 4s linear;
        margin-left: 16px;
        margin-right: 16px;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.all {
    width: 100vw;
}